.left{
    width: 50%;
    float: left;
    padding: 2vw;
}

.headerOrange{
    color: #ff5100;
    font-size: 3vw;
    position: absolute;
    display: block;
    padding: 1em;
    margin-left: 50vw;
    text-align: left;
}
p{
    padding: 1vw;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
.hover:hover{
    color: #008693;
}

footer{
    float:left;
    padding: 1vw;
    font-size: 2vw;
  
  }